.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    position: right;
    margin-left: 1500px;
    margin-bottom: 200px; 
    border-radius: 10px; 

  }
  
  .header {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
  }
  
  .form {
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    width: 50%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  
  label {
    font-size: 1.2rem;
  }
  