
  /* .grid {
    padding-top: 150px;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 200px auto 200px; 
    grid-gap: 50px;
    grid-auto-flow: row;
    gap: 30px 30px;
    column-gap: 10px;
    justify-items: stretch;
    row-gap: 15px;
  }

  .item-a {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    justify-content: stretch;
  } */

  .container{
    display: inline-block;
    text-align: center;

  }
  .guidesinfo {
    display: inline-block;
    border: 1px solid red;
  }

  .child{
    display: grid;
    border: 1px solid red;
    width: 60%; 
    height: 100%;
    display: grid;
    font-weight: 150;
    color: white;
    padding-top: 20px;
    text-align: left;

  }

  .guideGroup{
    display: inline-block;
    border: 1px solid red;

  }