  body {
    margin: 0 ;
  }


  .nav_top{
    background-color: #454ab7;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .nav_bottom{
    background-color:#4e54c6;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .logoheader{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
  }

  .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .nav a{
    color: inherit;
    text-decoration: none;

  }

  .nav a:hover{
    color: #ccc;
  }

