.parttable {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
  }
  
  .h_component,
  .h_selection,
  .h_base,
  .h_promo,
  .h_shipping,
  .h_tax,
  .h_settings,
  .h_price,
  .h_where,
  .h_buy,
  .h_remove {
    text-align: center;
    font-weight: bold;
    padding: 12px;
    background-color: #F5F5F5;
    color: #333;
    border: 1px solid #ddd;
    text-decoration-color:brown
  }
  
  .d_component,
  .d_placement--empty,
  .d_addComponent {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  
  
  .smallbutton {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ddd;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
  }
  
  .smallbutton:hover {
    background-color: #eee;
  }
  
  .smallbutton--icon {
    padding: 8px;
  }
  
  .smallbutton--small {
    font-size: 12px;
    padding: 6px;
  }
  
  .h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .d_addComponent {
    text-align: center;
  }
  
  .d_addComponent a {
    text-decoration: none;
  }
  
  .d_addComponent a:hover {
    background-color: #eee;
  }
  a{
    font-size:medium;
    color:yellow
  }